@model Splashify.Models.IndexModel

@{
    Layout = null;
}

@{
    ViewData["Title"] = "Login";
    /* prevents url manipulation to access content behind login - i layout med
     if (Session["userID"] == NULL)
     {
         Response.Redirect("~/Login");
     }*/
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Splashify</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet"> @*body*@
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,900&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    @*title*@
    <link href="@Url.Content("~/css/loginstylingcss.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="main-container">
        <div class="title">
            Splashify.
        </div>

        <div class="login-container">
            <div class="login-box">
                @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
                {
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <ul>
                            <li><input type="text" name="email" placeholder="E-mail" required /></li>
                            <li><input type="password" name="password" placeholder="Password" required /></li>
                        </ul>
                        <input type="submit" value="Login" />
                    </fieldset>
                    <a class="link-register" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                 }
            </div>
        </div>
    </div>
</body>
</html>