@model Splashify.Models.LoginModel

@{
    Layout = null;
}

@{
    ViewData["Title"] = "Login";
    /* prevents url manipulation to access content behind login - i layout med
     if (Session["userID"] == NULL)
     {
         Response.Redirect("~/Login");
     }*/
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Splashify</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet"> @*body*@
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,900&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    @*title*@
    <link href="@Url.Content("~/css/loginstylingcss.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="main-container">
        <ul class="bubble-area">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>

        </ul>
        <div class="title">
            Splashify.
        </div>

        <div class="login-container">
            <div class="login-box">



                <form asp-controller="User" asp-action="Authorize" method="post">
                    <ul>
                        <li><input asp-for="email" type="text" class="form-control" placeholder="E-mail" /></li>
                        <li><span id="error-message" asp-validation-for="email"></span></li>
                        <li><input asp-for="password" type="password" class="form-control" placeholder="Password" /></li>
                        <li><span id="error-message" asp-validation-for="password"></span></li>

                    </ul>
                    <button type="submit">Login In</button>

                </form>
                <div class="link-register"><a asp-area="" asp-controller="Home" asp-action="Register">Sign Up</a></div>

            </div>
        </div>
    </div>
</body>
</html>