@{
    ViewData["Title"] = "Managment";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model Splashify.Models.IndexModel


@section css {
    <link href="@Url.Content("~/css/managmentstylingcss.css")" rel="stylesheet" type="text/css" />
}

@{
    if (Context.Session.GetString("UserSession") != "organizer")
    {
        <script>
            window.location.href = "@Url.Action("Login", "Home")";
        </script>
    }
}



<div class="managment-container">
    <div class="scroll-container">
        <div class="rows-even box1">

            @{await Html.RenderPartialAsync("_CreateEventManagment", Model);}

        </div>

        <div class="rows-even box2">
            <h1>Role Applications</h1>

            <div class="application-list-box">

                @Html.Raw(ViewBag.RoleApps)

            </div>
            <form asp-controller="ApplicationHandler" asp-action="RoleApplication" method="post">
                <input type="number" id="ID" name="userIDField" placeholder="User ID" />
                <button type="submit" id="refreshbtn" name="button" value="refresh">Refresh</button>
                <button type="submit" id="approvebtn" name="button" value="accept">Accept</button>
                <button type="submit" id="denybtn" name="button" value="deny">Deny</button>
            </form>
        </div>


        @{await Html.RenderPartialAsync("_EventAppManagment", Model);}

        @{await Html.RenderPartialAsync("_ManagmentPartial", Model);}


    </div>


    </div>


