@{
    ViewData["Title"] = "Registration";
}


@section css {
    <link href="@Url.Content("~/css/registrationstylingcss.css")" rel="stylesheet" type="text/css" />
}


<div class="container">
    <div class="box1">
        box1
    </div>
    <div class="box2">
        box2
    </div>
</div>