@model Splashify.Models.IndexModel

@{
    ViewData["Title"] = "Scoring";
}

@section css {
    <link href="@Url.Content("~/css/scoringstylingcss.css")" rel="stylesheet" type="text/css" />
}

<div class="scoring-container">
    <div class="top-box">
        <div class="info-box">
            <h1 id="jmp-info-h1">Jump Type Codes</h1>
            <ul>
                <li id="jmp-info-li">1: Forward</li>
                <li id="jmp-info-li">2: Backward</li>
                <li id="jmp-info-li">3: Islander</li>
                <li id="jmp-info-li">4: German</li>
                <li id="jmp-info-li">5: Handstand</li>
                <li id="jmp-info-li">6: Pike</li>
            </ul>
         </div>
    </div>
    <div class="main-container">
        <div class="main box1">
            @using (Html.BeginForm("SetScore", "Scoring", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                <fieldset>
                    <div class="lable-box">
                        <ul>
                            <li><lable>Contestant ID</lable></li>
                            <li><lable>Event ID</lable></li>
                            <li><lable>Jump nr</lable></li>
                            <li><lable>Jump Code</lable></li>
                            <li><lable>Score</lable></li>
                        </ul>
                    </div>
                    <div class="input-box">
                        <input type="number" name="ContestantIDField" placeholder="Contest ID" />
                        <input type="number" name="EventIDField" placeholder="Event ID" />
                        <input type="number" name="JumpNrField" placeholder="Jump Nr" />
                        <input type="number" name="JumpTypeField" placeholder="Jump code" />
                        <input type="number" name="ScoreField" placeholder="Score" />
                        <input type="submit" value="submit" />
                    </div>
                </fieldset>
            }

        </div>

        <div class="main box2">
            
            <div class="scoring-header">
                <h1 id="event-title-h1">Current competition</h1>
                @Html.Raw(ViewBag.ppl)

                @using (Html.BeginForm("GetPerson", "FetchPerson", FormMethod.Post))
                {
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <input type="submit" value="Get people" />
                    </fieldset>

                }
            </div>
            
        </div>
    </div>
</div>
