@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model Splashify.Models.LoginModel


<div class="title clubapp-title-h1">
    Club Application
</div>
<div class="current-club-box">
    <div class="club-text-box">
        <p>Your current club is: @Html.Raw(ViewBag.ClubInfo) </p>
    </div>
    <div class="club-btn-box">
        @using (Html.BeginForm("CheckClub", "User", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <fieldset>
                <input type="submit" value="Refresh" id="your-club-btn" />
            </fieldset>
        }
    </div>
</div>

<div class="club-application-box">
    @using (Html.BeginForm("ClubApplication", "Club", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <input type="number" name="clubID" placeholder="Club ID" id="club-app-input"/>
            <input type="submit" value="Apply" />
        </fieldset>
    }
</div>

