@using Microsoft.AspNetCore.Identity

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model Splashify.Models.IndexModel



<ul class="navbar-nav">
    @if (Context.Session.GetString("UserSession") != null)
    {
        <p id="greetings">Hello @Context.Session.GetString("UserName")</p>
        <div class="sign-in-out">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Logout">
                <div class="logout-icon">

                </div>
            </a>
        </div>
    }
    else
    {
        <div class="sign-in-out">

            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="login">
                <div class="login-icon">

                </div>
            </a>
        </div>
    }
</ul>
