html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #8099af;
}


.container-application {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-top: 85px;
}

.box1 {
    margin:1% 1% 0 1%;
    background-color: white;
    height:auto;
    min-height: 800px;
    width: 48%;
    font-weight:bold;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-content:center;

}

.box2 {
    margin: 1% 1% 0 0;
    background-color: white;
    height: auto;
    min-height: 800px;
    width: 48%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}



input {
    cursor: pointer;
    margin: 5px;
    padding: 12px 20px;
    vertical-align: bottom;
}

input[type=text] {
    width: 50%;
    box-sizing: border-box;
    cursor: pointer;

}


input[type=datetime] {
    width: 40%;
    box-sizing: border-box;
    cursor: pointer;
}


input[type=number] {
    width: 40%;
    box-sizing: border-box;
    cursor: pointer;
}

input[type=submit] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 30%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-self: flex-end;
}

select {
    padding: 12px 20px;
    margin: 5px;
    width: 20%;
    background-color: DodgerBlue;
    -webkit-appearance: none;
    border: 0;
    font: 20px;
    font-weight: bold;
    color: white;
    vertical-align: bottom;
}


button {
    cursor:pointer;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 33%;
    min-width: 75px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-self: center;
}


#refreshbtn {
    width: 20%;
    background-color: dodgerblue;
    margin: auto;
}

#approvebtn {
    margin: auto;
    width: 20%;
}

#denybtn {
    margin: auto;
    width: 20%;
    background-color: #f44336; /* Red */
}

h1 {
    text-align: left;
    font: 'Roboto', sans-serif;
    margin-left: 2%;
}

fieldset {
    width: auto;
    border: 0 none;
    display:flex;
    justify-content:flex-end;
}

.title {
    font-size: 20px;
    margin-top:20px;
    margin-left:15px;

}



.table, th, td {
    /* border-collapse: collapse;*/
    align-self: center;
    table-layout: fixed;
}



.th, td {
    width: 350px;
}

tr:nth-child(even) {
    background: #bdd6ff;
}



.event-list-box {
    border: 2px lightgrey solid;
    height: 300px;
    width: 95%;
    overflow-y: scroll;
    margin: auto;
}

/*                        */
/*       Club view        */
/*                        */


.event-application {
    padding-top:50px;
    padding-left:80px;
}

.enroll-competitors{

}

.infobox {
    width: 95%;
    border: 2px lightgrey solid;
    height: 200px;
    align-self: center;
    overflow-y:scroll;
}

/*          Tooltip         */

.tooltip {
    background-image: url('icons/help-circle-outline.svg');
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    float: right;
    margin-left: 10px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: lightgrey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


img.icon {
    border: 0px;
    padding: 0px;
    width: 100px;
    height: 100px;
}

img:hover {
    cursor: pointer;
}