html, body {
    margin: 0;
    padding: 0;
    height:100%;
}

.main-container {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: url('images/loginimage.jpg');
    background-size: cover;
}


.title {
    margin: auto;
    padding-top: 10%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: white;
    height: 35px;
    width: 170px;
    padding-bottom: 3%;
}

.login-container {
    top: 50%;
    margin: auto;
    background-color: rgba(204, 204, 204, 0.2);
    width: 310px;
    height: 260px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}

.login-box {
    margin-top: 5%;
    background-color: rgba(204, 204, 204, 0.0);
    height: auto;
    width: 300px;
    align-self:center;
}



ul {
    list-style-type: none;
}

li {
    margin: 30px 0 35px 0;
}


fieldset {
    border: 0;
}


input {
    cursor: pointer;
}

input[type=text] {
    width: 80%;
    box-sizing: border-box;
    cursor: pointer;
}

input[type=password] {
    width: 80%;
    box-sizing: border-box;
    cursor: pointer;
}

button {
    border-radius:25px;
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    width: 50%;
    height: 30px;
    margin-left:25%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.link-register {
    margin-top: 10px;
    margin-left: 40%;
}


a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: solid;
    opacity: 0.5;
}

#error-message {
    font-size: 10px;
    color: #9c0209;
    margin-top: -30px;
    position: absolute;
}

@media only screen and (max-width:600px) {

    .title {
        padding-top:30%;
    }

}