html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}


.managment-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
 
.scroll-container {
    position:relative;
    height: 100%;
    overflow-y: hidden;
}

.rows-even {
    font: 'Roboto', sans-serif;
    display: inline-block;
    width: 90%;
    height: 300px;
    background-color: white;
    margin: 3% 0 2% 6%;
    box-shadow: 5px 5px 12px #888888;
    border-radius: 3px;
    border: 1px #CAD3C8 solid;
    font-weight: 200;
    color: #495f73;
}

.box1{
    height:auto;
}


.box2{
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.box3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#create-club-form{
    width:70%;
    margin-left:15%;
}

#create-club-btn{
    width:50%;
}

#create-club-h1{
    margin-top:-20px;
}

input {
    cursor: pointer;
    width: 23%;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    cursor: pointer;
}


input[type=datetime] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    cursor: pointer;
}


input[type=number] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    cursor: pointer;
}

input[type=submit] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 100%;
    min-width:200px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-self:center;
}



button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 100%;
    min-width: 200px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-self: center;
}





fieldset {
    border: 0;
}

h1 {
    text-align: left;
    font: 'Roboto', sans-serif;
    margin-left:2%;
}

/*          Application box  layout     */

.application-list-box {
    height: 200px;
    width: 90%;
    overflow-y: scroll;
    margin: auto;
    border: 2px #e8e8eb solid;
    border-radius: 5px;
    margin-bottom: 10px;
    white-space: nowrap;
}

.table {
    table-layout: fixed;
}

.table, th, td {
    /* border-collapse: collapse;*/
    border: 1px lightgrey solid;
    align-self: center;
}

.th, td{
    width:350px;
}

#ID{
 
    margin-left:10%;
    width:10%;
}

#refreshbtn {
    width: 20%;
    background-color: dodgerblue;
    margin: auto;
}

#approvebtn {
    margin: auto;
    width: 20%;
}

#denybtn {
    margin: auto;
    width: 20%;
    background-color: #f44336; /* Red */
}

/*    Removes arrows from number inputfields*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

tr:nth-child(even) {
    background: #bdd6ff;
}

select {
    order: 1;
    width: 25%;
    height: 43px;
    margin: 5px;
    background-color: white;
    -webkit-appearance: none;
    border: 1px grey solid;
    border-radius: 2px;
    font: 20px;
    color: grey;
    padding-left: 20px;
}

#judgeinput {
    width: 33%;
}



@media only screen and (max-width:600px) {
    input [type=text] {
        width: 45%;
    }

    input[type=number] {
        width: 45%;
    }

    input[type=button] {
        width: 100%;
    }
}
