html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


/*       CSS for Scoring.cshtml          */
/*        These are inside .content      */



/*                                      */
/*               Phone                   */
/*                                       */

@media only screen and (max-width:600px) {
    .scoring-container {
        margin-top: 40px;
    }

    .box1 {

    }

    .box2 {
        visibility: hidden;
        clear: both;
    }
}





/*                                         */
/*               Desktop                   */
/*                                         */


.scoring-container {
    margin-top:85px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap:wrap;
}


.top-box {
    height:200px;
    width: 100%;
    background:white;
    margin:1% 1% 1% 1%;

}

.main-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.main {
    background-color: white;
    box-shadow: 5px 5px 12px #888888;
    border-radius: 3px;
    border: 1px #CAD3C8 solid;
    font-weight: 200;
    color: #8099af;
    height: 400px;
    width: 48%;
}



.box1 {
    margin: 1% 1% 0 1%;
    min-width: 600px;
    flex-shrink:0;
}

.box2 {
    margin: 1% 0 0 0;
    min-width: 600px;
    flex-shrink: 0;
    align-content:center;
}


/* parent to input boxes*/

fieldset {
    border:0 none;
}

.lable-box {
    display: inline-block;
    width: 28%;
    min-width:150px;
    min-height: 380px;
    text-align: right;
    white-space: nowrap;
    float: left;
}


.input-box {
    display: inline-block;
    width: 70%;
    min-height: 380px;
    min-width: 390px;
    float: right;
    flex-shrink:0;
}

.info-box{
    width:40%;
    text-align:left;
    margin:1% 0 0 1%; 
}

input {
    cursor: pointer;
    width:90%;
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    cursor: pointer;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    cursor: pointer;
}


input[type=submit] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 100%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}


text {
width: 200px;
}


.scoring-header{
}

ul {
list-style-type: none;
}

#jmp-info-li {
    margin: 0;
}


li {
margin: 20px 0 40px 0; /*Align text is lable-box with inputs in inputbox*/
}

/* li for jump type codes*/

#jmp-info-h1{
    font-size:15px;
}


.table, th, td {
    /* border-collapse: collapse;*/
    border: 1px black solid;
    align-self:center;
}


.competition-list-box {
    border: 2px #e8e8eb solid;
    border-radius: 5px;
    height: 200px;
    width: 580px;
    overflow-y: scroll;
    margin: auto;
}

.application-list-box {
    height: 200px;
    width: 900px;
    overflow-y: scroll;
    margin: auto;
    border: 2px #e8e8eb solid;
    border-radius: 5px;
    margin-bottom: 10px;
    white-space: nowrap;
}

.table {
    table-layout: fixed;
}

.table, th, td {
    /* border-collapse: collapse;*/
    border: 1px lightgrey solid;
    align-self: center;
}

.th, td {
    width: 350px;
}


/*    Removes arrows from number inputfields*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}


tr:nth-child(even) {
    background: #bdd6ff;
}

